<ion-header>
    <ion-toolbar>
        <ion-title class="center">
            <img src="../../assets/img/car-logo.png" id="img">
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item href="settings">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>{{ 'SETTINGS' | translate }}</ion-label>
        </ion-item>
        <ion-item href="#">
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-label>{{ 'CONTACTUS' | translate }}</ion-label>
        </ion-item>
        <ion-item href="#">
            <ion-icon name="logo-instagram" slot="start"></ion-icon>
            <ion-label>{{ 'VISITOURINSTAGRAMPAGE' | translate }}</ion-label>
        </ion-item>
        <ion-item href="#">
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
            <ion-label>{{ 'VISITOURFACEBOOKPAGE' | translate }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>