<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="users"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'SIGNUP' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="add-user">
    <form [formGroup]="validations_form" (ngSubmit)="addUser()">
        <ion-list>
            <ion-item>
                <ion-label>
                    {{ 'ID' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="number" formControlName="id" id="idinput2" placeholder="Enter User ID" #id required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.id">
                    <div class="error-message" *ngIf="validations_form.get('id').hasError(validation.type) && (validations_form.get('id').dirty || validations_form.get('id').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>
                    {{ 'NAME' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Enter User Name" formControlName="name" id="nameinput" #name required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>
                    {{ 'EMAIL' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input inputmode="email" placeholder="Enter User Email" formControlName="email" id="emailinput" #email required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>
                    {{ 'PASSWORD' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input formControlName="password" id="passwordinput2" [type]="showPassword ? 'text' : 'password'" placeholder="Enter User Password" #password required></ion-input>
                <ion-icon [name]="passwordToggleIcon" slot="end" (click)="togglePassword()"></ion-icon>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <br>
            <ion-button type="submit" expand="block" [disabled]="!validations_form.valid || type==null" value="sign-up">
                <ion-icon name="add" slot="start"></ion-icon>
                {{ 'SIGNUP' | translate }}
            </ion-button>
        </ion-list>
    </form>
</ion-content>